body {
    background-color: #191919;
    color: #0bc245;
    font-family: monospace;
    font-size: 18
}

a {
    color: #147ac8;
}

a > .fa-link {
    color: #0bc245;
    font-size: 0.6em;
}

h1 {
    font-weight: bold;
    text-decoration: underline;
}